
/**
 *  Style from the new (great!) findsearch THEME for Drupal 
 * http://drupal.org/project/findsearch
 */

.quicktabs_main.quicktabs-style-findsearch{
  width:800px;
  background-color:#E3E4DE;
  border-left:#CCC thin solid;
  border-right:#CCC thin solid;
  border-bottom:#CCC thin solid;
  padding:15px 30px 15px 30px;
  margin-left:20px;
}
ul.quicktabs-tabs.quicktabs-style-findsearch{
  width:860px;
  padding:0 0 3px;
  margin-left:21px;
  margin-bottom:0px;
  font-size:1em;
  list-style: none;
  height:35px;
  background:transparent url(images/tab-bar.png) repeat-x left bottom;
}
*html ul.quicktabs-tabs.quicktabs-style-findsearch li{
  margin-bottom:-5px;
}
ul.quicktabs-tabs.quicktabs-style-findsearch li{
  float: left;
  margin:0px;
  padding: 0 0 0 5px;
  background:transparent url(images/tab-left-ie6.png) no-repeat left -51px;
}
ul.quicktabs-tabs.quicktabs-style-findsearch li a{
  font:18px Arial;
  color: #FFF;
  font-size-adjust:none;
  display: block;
  margin: 0;
  padding:4px 17px 0px 12px;
  border-width: 0;
  text-decoration:none;
  background: transparent url(images/tab-right-ie6.png) no-repeat right -60px;
  line-height:35px;
}
ul.quicktabs-tabs.quicktabs-style-findsearch li:hover a{
  color:#333;
  border-width: 0;
  background:transparent url(images/tab-right-ie6.png) no-repeat right -11px;
}
ul.quicktabs-tabs.quicktabs-style-findsearch li:hover{
  background:transparent url(images/tab-left-ie6.png) no-repeat left -5px;
}
ul.quicktabs-tabs.quicktabs-style-findsearch li.active a,
ul.quicktabs-tabs.quicktabs-style-findsearch li.active a:hover{
  color:#333;
  text-decoration:none;
  border-width: 0;
  background:transparent url(images/tab-right-ie6.png) no-repeat right -11px;
  line-height:38px;
}
ul.quicktabs-tabs.quicktabs-style-findsearch li.active{
  background:transparent url(images/tab-left-ie6.png) no-repeat left -5px;
}
