#block-google-appliance-ga-block-search-form {  
  font-size: 1.1em;
  font-family: Arial, sans-serif;
  float: right;
  color: #fff;
}
#block-google-appliance-ga-block-search-form .cu-search {
  display: block;
}
#block-google-appliance-ga-block-search-form .culinks {
  padding: 2px 0px;
  text-align: right;
  clear: both;
  font-size: 11px;
  display: block;
}
#block-google-appliance-ga-block-search-form form {
  margin: 0;
  padding: 0;
}
#block-google-appliance-ga-block-search-form input {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-appearance: none;
  font-size: 11px;
}
#block-google-appliance-ga-block-search-form input.text {
  width: 160px;
  height: 20px;
  padding: 0 2px;
  margin: 0;
  float: left;
  background-color: #fff;
  border: 1px solid #fff;
  color: #888;
}
#block-google-appliance-ga-block-search-form a:link,
#block-google-appliance-ga-block-search-form a:visited,
#block-google-appliance-ga-block-search-form a:hover {
  text-decoration: none;
  color: #fff;
}
#block-google-appliance-ga-block-search-form label {
  position: absolute;
  top: 0;
  left: -9999px;
}
#block-google-appliance-ga-block-search-form input:focus {
  color: #000;
}
#block-google-appliance-ga-block-search-form .form-item,
#block-google-appliance-ga-block-search-form .form-actions {
  float: left;
  margin: 0;
  padding: 0px;
  background: #fff;
  height: 22px;
  overflow: hidden;
}
#block-google-appliance-ga-block-search-form .form-text {
  width: 160px;
  height: 22px;
  padding: 0 4px;
  margin: 0;
  border: none;
  display: block;
}
#block-google-appliance-ga-block-search-form .form-submit {
  height: 22px;
  width: 22px;
  background: none;
  filter: none;
  background-image: url(submit.png);
  background-repeat: no-repeat;
  text-indent: -9999px;
  display: block;
  border: none;
  font-size: 0;
  color: #fff;
}

#content .keymatch-results,
#content .search-results {
  margin-left: 0;
  margin-right: 0;
}
#content .keymatch-results h3,
#content .search-results h3 {
  font-style: normal;
}
