.black-block {
  background-color: #ededeb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ededeb), to(#e0e1db));
  background-image: -webkit-linear-gradient(top, #ededeb, #e0e1db);
  background-image: -moz-linear-gradient(top, #ededeb, #e0e1db);
  background-image: -o-linear-gradient(top, #ededeb, #e0e1db);
  background-image: -ms-linear-gradient(top, #ededeb, #e0e1db);
  background-image: linear-gradient(top, #ededeb, #e0e1db);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ededeb', EndColorStr='#e0e1db');

}
.black-block h2 {
  background-color: #535353;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#535353), to(#222222));
  background-image: -webkit-linear-gradient(top, #535353, #222222);
  background-image: -moz-linear-gradient(top, #535353, #222222);
  background-image: -o-linear-gradient(top, #535353, #222222);
  background-image: -ms-linear-gradient(top, #535353, #222222);
  background-image: linear-gradient(top, #535353, #222222);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#535353', EndColorStr='#222222');
  color:#fff;
  padding:5px 10px;
}
.black-block .content {
  padding: 10px;
}

.blue-block {
  background-color: #ededeb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ededeb), to(#e0e1db));
  background-image: -webkit-linear-gradient(top, #ededeb, #e0e1db);
  background-image: -moz-linear-gradient(top, #ededeb, #e0e1db);
  background-image: -o-linear-gradient(top, #ededeb, #e0e1db);
  background-image: -ms-linear-gradient(top, #ededeb, #e0e1db);
  background-image: linear-gradient(top, #ededeb, #e0e1db);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ededeb', EndColorStr='#e0e1db');

}
.blue-block h2 {
  background-color: #045c7d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#045c7d), to(#024d6a));
  background-image: -webkit-linear-gradient(top, #045c7d, #024d6a);
  background-image: -moz-linear-gradient(top, #045c7d, #024d6a);
  background-image: -o-linear-gradient(top, #045c7d, #024d6a);
  background-image: -ms-linear-gradient(top, #045c7d, #024d6a);
  background-image: linear-gradient(top, #045c7d, #024d6a);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#045c7d', EndColorStr='#024d6a');
  color:#fff;
  padding:5px 10px;
}
.blue-block .content {
  padding: 10px;
}

.orange-block {
  background-color: #ededeb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ededeb), to(#e0e1db));
  background-image: -webkit-linear-gradient(top, #ededeb, #e0e1db);
  background-image: -moz-linear-gradient(top, #ededeb, #e0e1db);
  background-image: -o-linear-gradient(top, #ededeb, #e0e1db);
  background-image: -ms-linear-gradient(top, #ededeb, #e0e1db);
  background-image: linear-gradient(top, #ededeb, #e0e1db);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ededeb', EndColorStr='#e0e1db');

}
.orange-block h2 {
  background-color: #a04015;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a04015), to(#883512));
  background-image: -webkit-linear-gradient(top, #a04015, #883512);
  background-image: -moz-linear-gradient(top, #a04015, #883512);
  background-image: -o-linear-gradient(top, #a04015, #883512);
  background-image: -ms-linear-gradient(top, #a04015, #883512);
  background-image: linear-gradient(top, #a04015, #883512);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#a04015', EndColorStr='#883512');
  color:#fff;
  padding:5px 10px;
}
.orange-block .content {
  padding: 10px;
}

.reversed-block {
  background-color: #535353;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#535353), to(#222222));
  background-image: -webkit-linear-gradient(top, #535353, #222222);
  background-image: -moz-linear-gradient(top, #535353, #222222);
  background-image: -o-linear-gradient(top, #535353, #222222);
  background-image: -ms-linear-gradient(top, #535353, #222222);
  background-image: linear-gradient(top, #535353, #222222);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#535353', EndColorStr='#222222');
  color:#fff;
}
.reversed-block h2 {
  padding:5px 10px;
}
.reversed-block .content {
  padding: 10px;
}
.reversed-block a {
  color: #d0b87c;
}
.reversed-block * {
  border:none !important;
}