/* HEADER */

#branding {
  margin: 0;
}
#search {
	margin-left: 60px;
}
#branding h1 {
  margin: 0;
  padding: 0;
}
#branding h1 a,
#branding #logo a {
  background-repeat: no-repeat;
  display: block;
  height: 120px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
#print-logo {
  display: none;
}

/* SEARCH */

.region-search-box {
	margin-right: 0px;
	margin-top: 36px;
	font-family: Arial, sans-serif;
  float: right;
}
#search #block-boxes-cu-search-links,
#search p {
	padding: 2px 0px;
	clear: both;
}
#search form {
	margin:0;
	padding:0;
}
#search input {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-appearance: none;
	font-size: 100%;
}
#search a:link,
#search a:visited,
#search a:hover {
	text-decoration: none;
}

.banner-black #header-wrapper {
  background-color: #000;
}
.banner-dark #header-wrapper {
  background-color: #333;
}
.banner-light #header-wrapper {
  background-color: #d9d9d9;
}
.banner-white #header-wrapper {
  background-color: #fff;
}
.banner-black #site-header,
.banner-dark #site-header,
.banner-black #block-google-appliance-ga-block-search-form,
.banner-dark #block-google-appliance-ga-block-search-form {
  color:#fff;
}
.banner-white #site-header,
.banner-light #site-header,
.banner-white #block-google-appliance-ga-block-search-form,
.banner-light #block-google-appliance-ga-block-search-form {
  color: #363636;
}
.banner-black #search a,
.banner-dark #search a {
	color: #FFF;	
}
.banner-white #search a,
.banner-light #search a {
	color: #363636;	
}

#search label,
#mobile-search label {
	position: absolute;
	top: 0;
	left: -9999px;
}
#search input:focus {
	color: #363636;
}

#mobile-search,
#mobile-search-trigger {
	display: none;
}

#search .form-item,
#search .form-actions {
  float: left;
  margin: 0;
  padding: 0px;
  height: 22px;
  overflow: hidden;
}
#search .form-actions {
  width: 23px;
}
#search label {
  position: absolute;
  left: -9999px;
  display: none;
}
#search .form-text,
body #search #block-google-appliance-ga-block-search-form input.text {
  width: 160px;
	height: 22px;
	padding:0 4px;
	margin: 0 !important;
	border-right: none !important;
	display: block;
}

.banner-white #search .form-text,
.banner-white #search .input.text {
  border: 1px solid #bbb;
	background-color: #f0f0f0;
	height: 20px;
}
.banner-black #search .form-text,
.banner-dark #search .form-text,
.banner-light #search .form-text {
  border: none;
	background-color: #fff;
}

html.js #search .form-text {
  color: #999;
}
html.js #search .focus {
  color: #000;
}
#search .form-submit {
  height: 22px !important;
  width: 23px;
  margin: 0;
  background: none;
  filter: none;
  background-image: url(../images/submit.png);
  background-repeat: no-repeat;
  text-indent: -9999px;
  display: block;
  border: none;
  font-size: 0;
  color: white;
}

/* NAVIGATION */

#navigation ul#main-menu {
  margin:0;
}

/* MAIN CONTENT */

#main-content {
  padding-bottom:20px;
}
.region-content {
  clear:right;
}
#lower-wrapper {
  
  
}
#lower {
  padding:20px 0;
}



/* BLOCKS */

.block {
  margin-bottom:2.0em;
}
.site-header .block,
#slider .block {
  margin-bottom: 0;
}

/* FOOTER */

.footer-black #footer-wrapper,
.footer-black #site-info-wrapper {
  background-color: #000;
  color: #fff;
}
.footer-dark #footer-wrapper,
.footer-dark #site-info-wrapper {
  background-color: #333;
  color: #fff;
}
.footer-light #footer-wrapper,
.footer-light #site-info-wrapper {
  background-color: #d9d9d9;
  color: #363636;
}
.footer-white #footer-wrapper,
.footer-white #site-info-wrapper {
  background-color: #fff;
  color: #363636;
}

.footer-black #footer-wrapper a, 
.footer-black #site-info-wrapper a, 
.footer-dark #footer-wrappera, 
.footer-dark #site-info-wrapper a {
  color: #d1b97e;
}

/* BREADCRUMBS */

.breadcrumb {
  font-size: 80%;
}

/* TABLES */
table {
  border-collapse: collapse;
  border: none;
}
table td {
  padding: 6px;
}
table tbody {
  border: none;
}
#content table tr.even td {
  background: #fff;
}
#content table tr.odd td {
  background: #f0f0f0;
}
#content table td {
  border: 1px solid #eee;
  padding: 8px;
  vertical-align: top;
}
#content table th {
  background: #e7e7e7;
  border: 1px solid #e7e7e7;
  border: none;
  padding: 8px;
  color: #717171;
}
#content table th a:link,
#content table th a:visited {
  color: #0072bc;
}
table caption {
  text-align: left;
  font-size: 180%;
  font-weight: normal;
  padding: 4px 0;
}
#footer table, #site-info table {
  border: none;
}
#footer table td, #site-info table td {
  background: none;
  border: none;
}
table.tablesorter {
  font-size: 90%;
}
table.tablesorter thead tr th,
table.tablesorter tfoot tr th {
  background-color: #ccc;
}
/* BUTTON */


a.simple-button {
  color:#999;
  display: inline-block;
  padding: 1px 5px;
  font-size:75%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #f3f3f3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#cccccc));
  background-image: -webkit-linear-gradient(top, #f3f3f3, #cccccc);
  background-image: -moz-linear-gradient(top, #f3f3f3, #cccccc);
  background-image: -o-linear-gradient(top, #f3f3f3, #cccccc);
  background-image: -ms-linear-gradient(top, #f3f3f3, #cccccc);
  background-image: linear-gradient(top, #f3f3f3, #cccccc);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f3f3f3', EndColorStr='#cccccc');

}
a.large {
  font-size: 125%;
}

/* PAGER */
.item-list .pager {
  background: #f0f0f0;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  overflow: auto;
 
}
.item-list .pager li {
  border-right: 1px solid #ccc;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}
.item-list .pager li.last {
  border: none;
}
.item-list .pager li.pager-current {
  background: #fff;
  padding: 5px 10px;
}
.item-list .pager li a {
  color: #999;
  display: block;
  float: left;
  padding: 5px 10px;
}
.item-list .pager li a:hover {
  background: #fff;
}
.item-list .pager li.pager-ellipsis {
  padding:5px 10px;
  color:#999;
}
/* TEASERS */

.node-teaser {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: .75em;
  padding-bottom: .75em;
}

.summary-content {

}


/* READ MORE */
ul.links {
  margin: .75em 0;
  padding: 0;
  clear: both;
}
ul.links li.node-readmore {
  margin: 0;
  padding: 0;
}
ul.links li.node-readmore a,
.field-name-node-link a {
  background-color: #f3f3f3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f3f3f3, #e5e5e5);
  background-image: -moz-linear-gradient(top, #f3f3f3, #e5e5e5);
  background-image: -o-linear-gradient(top, #f3f3f3, #e5e5e5);
  background-image: -ms-linear-gradient(top, #f3f3f3, #e5e5e5);
  background-image: linear-gradient(top, #f3f3f3, #e5e5e5);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f3f3f3', EndColorStr='#e5e5e5');
  color:#999;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  font-size: 85%;
  line-height: 100%;
  padding: 5px 10px;
  -webkit-box-shadow: 0px 1px 1px 0px #888;
  -moz-box-shadow: 0px 1px 1px 0px #888;
  box-shadow: 0px 1px 1px 0px #888;
}

/* EVENTS CALENDAR */

.event-cal-event {
  font-size: 80%;
  margin-bottom:.75em;
}
.event-cal-event a {
  display: block;
  font-size: 125%;
}




/* FIELD COLLECTIONS */
.field-collection-container {
  border: none;
}
.field-collection-view {
  margin: 0;
}


/* PHOTO GALLERY */

.view-photo-gallery {
  margin: 20px 0;
}

/* PROFILES */

.view-person .views-field {
  margin-bottom:.5em;
}

/* HORIZONTAL RULE */

hr {
  height: 0px;
  overflow: hidden;
  border: none;
  border-top: 1px solid #e5e5e5;
}



/* ACCORDION H3 */

.ui-accordion h3 {
  margin: .75em 0;
}


/* PHOTO CAPTIONS */

.photo-caption {
  font-size :85%;
}
body .photo-caption img {
  float: none !important;
  margin: 0 !important;
}


/* SMALL TEXT */

.meta-text,
td.views-field-field-last-name div {
  font-size: 85%;
}

/* MENUS */

.content ul.menu {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
.content ul.menu li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  margin-bottom:.5em;
}

/*nolink style added to sidebar to style the 'placeholder' menu items made possible by the Special Menu Items module 4/11/2013 tc*/
.sidebar .nolink {
  background-position: left center;
  background-repeat: no-repeat;
  display: block;
  padding: 8px 0 8px 10px;
  border-bottom:1px solid #e5e5e5;
}

.sidebar ul.menu li {
  margin: 0;
}
.sidebar ul.menu li a {
  background-position: left center;
  background-repeat: no-repeat;
  display: block;
  padding: 8px 0 8px 20px;
  border-bottom:1px solid #e5e5e5;
  border-left:1px solid #e5e5e5;
}
.sidebar ul.menu ul a {
  padding-left:35px;
  background-position: 10px 50%;
}
.sidebar ul.menu ul ul a {
  padding-left:35px;
  background-position: 20px 50%;
}
.sidebar ul.menu ul ul ul ul a {
  padding-left:45px;
  background-position: 30px 50%;
}
.sidebar ul.menu a.active {
  font-weight: bold;
}
body ul.menu li a.menu_icon {
  padding:5px;
  background-image: none;
  border:none;
}

blockquote {
  
  margin: 10px 20px;
  padding-left:20px;
  border-left: 4px solid #e5e5e5;
}

/* SITE INFO MENU */

.region-site-info ul.menu {
  margin: 0;
  list-style: none;
  padding: 0;
}
.region-site-info ul.menu li {
  display: inline;
  margin: 0;
  padding: 0;
}
.region-site-info ul.menu li:after {
  content:'  \2022  ';
}
.region-site-info ul.menu li.last:after {
  content:'';
}
.region-site-info ul.menu li a {
  background: none;
  padding: 0;
  display: inline;
}

/* NOTES */
.note {
  background: #e5e5e5;
  border-left: 10px solid #bb0000;
  border-right: 10px solid #e5e5e5;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


/* LISTS */

.content ul li {
  margin-bottom: 5px;
}




.article-item {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: .75em;
  padding-bottom: .75em;
}

/* UNPUBLISHED */

.node-unpublished {
  background: #f7d9d9;
}

/**
 * Text format guidelines. 
 */
.text-format-wrapper fieldset.filter-wrapper {
  padding: 0;
  background: #eee;
  border: 1px solid #ccc;
  border-top: none;
}
html.js .text-format-wrapper .fieldset-wrapper {
  margin: 0;
  padding: 5px 10px;
}
.text-format-wrapper .form-item {
  padding: 0;
  margin: 0;
}
.text-format-wrapper .filter-guidelines {
  padding: 0;
}
.text-format-wrapper .form-type-select,
.text-format-wrapper .filter-help {
  padding: 5px 0px;
}
.text-format-wrapper ul {
  margin: 0;
  list-style: none;
  list-style-type: none;
}
.text-format-wrapper ul.tips li {
  list-style: none;
  list-style-type: none;
}
.text-format-wrapper ul.tips ul,
.text-format-wrapper ul.tips ul li {
  list-style: disc outside none;
  list-style-type: disc;
  margin-left: 1em;
  margin-bottom: .25em;
}

/* ACTION MENU */

#navigation ul#secondary-menu {
  float:right;
  margin:5px 20px;
  background: none;
  padding: 0;
  height: 30px;
}
#navigation ul#secondary-menu li {
  margin: 0;
  padding: 0;
}
#navigation ul#secondary-menu a {
  background-color: #666666;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#202020));
  background-image: -webkit-linear-gradient(top, #666666, #202020);
  background-image: -moz-linear-gradient(top, #666666, #202020);
  background-image: -o-linear-gradient(top, #666666, #202020);
  background-image: -ms-linear-gradient(top, #666666, #202020);
  background-image: linear-gradient(top, #666666, #202020);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#666666', EndColorStr='#202020');
  color:#EEE;
  padding:0 10px;
  margin: 0 0 0 10px;
  line-height: 30px;
  display: block;
  font-size: 80%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  float: left;
}
#navigation ul#secondary-menu a:hover,
#navigation ul#secondary-menu a.active,
#navigation ul#secondary-menu a.active-trail {
  color:#FFF;
  background-color: #222222;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222222), to(#000000));
  background-image: -webkit-linear-gradient(top, #222222, #000000);
  background-image: -moz-linear-gradient(top, #222222, #000000);
  background-image: -o-linear-gradient(top, #222222, #000000);
  background-image: -ms-linear-gradient(top, #222222, #000000);
  background-image: linear-gradient(top, #222222, #000000);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#222222', EndColorStr='#000000');

}
/**
 * Tabs
 */
.tabs {
  float:right;
  font-size: 85%;
  padding: 0;
}
ul.primary {
  border: 0;
  padding: 0;
  font-size: 1.1em;
  margin: 10px;
}
ul.primary li {
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  background: #eee;
}
ul.primary li a {
  margin: 0;
  padding: 5px 15px;
  border: 0;
  color: #999;
  background: #eee;
  border: 1px solid #ccc;
  border-left: 0;
}
ul.primary li.first a {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 1px solid #ccc;
}
ul.primary li.last a {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
ul.primary li.active {
  background: #ddd;
}
ul.primary li.active a {
  color: #666;
  background: #ddd;
  border-color: #ccc;
  border-left: 0;
}
ul.primary li a:hover {
  background: #ccc;
  border-color: #ccc;
  color: #000;
}

/* PEOPLE */

.node-person .field {
  margin-bottom: .75em;
}
.people-contact {
  margin:.75em 0;
}
.people-bio, .people-website, .people-interests {
  padding:.75em 0 ;
  border-top:1px solid #E5E5E5;
}
.hide {
  display: none;
}

/* CONTENT SIDEBARS */

.region-content-sidebar-left {
  float:left;
  width:33%;
  margin-right:20px;
  margin-bottom:20px;
  padding-right:20px;
  border-right:1px solid #e5e5e5;
}
.region-content-sidebar-right {
  float:right;
  width: 33%;
  margin-left:20px;
  margin-bottom:20px;
  padding-left:20px;
  border-left:1px solid #e5e5e5;
}
.region-content-sidebars {
  float:left;
  width: 45%;
  margin-right:5%;
  margin-bottom:20px;
}

.articles-bean .views-row {
  margin-bottom:1.5em;
}
.articles-bean p.article-title {
  font-size: 110%;
  margin:0;
}
.article-display-large p.article-title {
  font-weight: bold;
}
.article-display-large p {
  margin: 0;
}
.article-display-large .field-name-node-link {
  font-size:85%l
}
.article-display-medium .field-name-node-link {
  display: none;
}
.article-display-small .field-name-body,
.article-display-small .field-name-node-link {
  display: none;
}
.hide-title h2.node-title {
  display: none;
}


/* CONTEXTUAL LINKS */
.contextual-links-wrapper {
  clear:right;
}
.view .contextual-links-wrapper {
  top:30px;
}

/* DRUPAL MESSAGES */

#main div.messages {
  margin:10px 20px;
}
#main div.region-help {
  margin: 10px 20px;
}


/* ALERTS */

#alerts .block {
  margin: 0;
}

